<%- include("./partials/header.ejs") %>

<div class="container ">
   <h1>About us </h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor quis sapien malesuada porta at ut ante. Nunc ac tortor diam. Ut vulputate mauris sed pretium venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum blandit gravida enim, ac rhoncus justo venenatis vel. Proin urna lacus, suscipit a leo eget, dictum malesuada enim. Nunc vitae massa posuere, gravida metus non, malesuada diam. Proin in velit eget augue aliquam fringilla a eget ex. Integer blandit augue ex, sit amet scelerisque ligula laoreet et. Nulla consequat varius pulvinar. Suspendisse aliquam tellus nec leo commodo rutrum. Cras enim est, maximus a semper ornare, lobortis a arcu. Duis ullamcorper, ligula vel iaculis finibus, purus tortor iaculis risus, mollis tempor sapien nulla at arcu. Fusce convallis tempus purus, eu mollis nisl accumsan quis. Vivamus gravida tempus massa vel laoreet. Suspendisse tristique ligula in lorem tempor, at porta diam mollis.
</p> 
</div>


<%- include("./partials/footer.ejs") %>